* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Overpass', sans-serif;
    font-size: 15px;
}

:root {
    --Orange: hsl(25, 97%, 53%);
    --White: hsl(0, 0%, 100%);
    --LightGrey: hsl(217, 12%, 63%);
    --MediumGrey: hsl(216, 12%, 54%);
    --DarkBlue: hsl(213, 19%, 18%);
    --VeryDarkBlue: hsl(216, 12%, 8%);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: var(--VeryDarkBlue);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 412px;
    height: 416px;
    background: var(--black-gradient, radial-gradient(98.96% 98.96% at 50% 0%, #232A34 0%, #181E27 100%));
    border-radius: 30px;
    color: var(--White);
    overflow: hidden;
}

main .container {
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

main .container-stella {
    width: 48px;
    height: 48px;
    background-color: var(--DarkBlue);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-stella img {
    width: 16px;
}

.container h1 {
    font-size: 1.8rem;
}

.container > p {
    color: var(--Medium-Gray, #7C8798);
    font-size: 1rem;
    display: flex;
    justify-content: space-between;
}

p > span.bubble {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: var(--DarkBlue, #262E38);
    cursor: pointer;
}

.container > input {
    background: var(--Orange, #FC7614);
    border: none;
    height: 2.8rem;
    border-radius: 1.5rem;
    color: var(--White);
    cursor: pointer;
}

/* FORM COMPLETATO */

#form-final {
    align-items: center;
}
#form-final p {
    text-align: center;
}

.prova {
    color: var(--Orange);
    background: var(--DarkBlue);
    width: 193px;
    height: 32px;
    border-radius: 22.5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ---------- classi hover ---------- */

p > span.blubble:hover {
    background: var(--Orange);
    color: var(--White);
}

/* ---------- classi per javascript ---------- */

.container.hidden {
    display: none;
}

.selected {
    background: var(--LightGrey);
    color: var(--White);
}

.active {
    transition: transform .3s ease;
    transform: translateX(-400px);
    
}







/* ------------------------------------------------------------------------------------------------------------- */
